:root{
	--gradient:white;
}
*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.logo-img{
    height: 65px;
    cursor:pointer;
}
*::selection{
    background:#f39c12;
    color:#fff;
}

header span{
	display:flex;
	align-items:center;
    justify-content: center;
}
.heading{
    padding:1rem;
    text-align: center;
	line-height: 1.41em;
    font-size: 22px;
	font-family:'Times New Roman';
	font-weight:bolder;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1rem 5%;
    background:var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');
header .heading{
    color:#0b48af;
    font-size: 25px;
    border-radius: 50%;
	font-family:'Times New Roman';
}
header .navbar ul{
    display: flex;
    align-items:center;
    justify-content: center;
    list-style: none;
    
}
header .navbar ul li{
    margin:0 1rem;
}
header .navbar ul li a{
    font-size: 2rem;
    color:#0b48af;
}
header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#0b48af;
}


.donate1 img{
  position:absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  object-fit:cover;
  object-position:center;
}
.overlay{
	height:50vh;
	display:flex;
	flex-flow: column;
	justify-content:center;
	padding-left:200px;
	padding-top:350px;
}
.overlay p{
	font-weight: 500;
    font-size: 70px;
    color:#fff;
	z-index:1;
	line-height: .95em;
	letter-spacing: -.035em;
}
.overlay span{
	font-weight: 700;
}
.overlay h1{
    font-size: 30px;
    color: #fff;
    font-family: "Proxima Nova",sans-serif;
    font-weight: 400;
	z-index:1;
	line-height: 1.45em;
}
.line{
	background-color:#fff;
	height:4px;
	width:200px;
	text-align: center;
	margin-top:15px;
	margin-bottom:15px;
}

.middle_para{
	font-size: 20px;
	max-width: 730px;
    padding: 35px 45px;
	margin: -50px auto 0;
	color: #003755;
	font-family: "Proxima Nova",sans-serif;
    font-weight: 600;
    line-height: 1.4;
    position: relative;
    width: 100%;
    background: #fff;
    transition: margin-top .2s;
	background-color:#EFEEE7;
}


.donate{
	height:50vh;
	display:flex;
	flex-flow: column;
	justify-content:center;
	padding-left:200px;
}
.line1{
	background-color: #0D4AB2;
	height:4px;
	width:200px;
	text-align: center;
	margin-bottom:15px;
}
.donate h1{
	font-weight: 500;
    font-size: 50px;
    color:#0D4AB2;
	z-index:1;
	line-height: .95em;
	letter-spacing: -.035em;
	padding-bottom:30px;
}
.donate p{
    font-size: 20px;
    color: #092E6E;
    font-family: "Proxima Nova",sans-serif;
    font-weight: 400;
	z-index:1;
	line-height: 1.45em;
	padding-right:200px;
}
.data form{
    position:relative;
    top:40px;
}


#donate{
	background-color:#0D4AB2;
	padding:10px;
	color:white;
	#092E6E;
}
#donate:hover{
	background-color:#092E6E;
}
